/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
npm-debug.log
.editorconfig
.env
dump.rdb
.env.backup
composer.lock
composer.phar
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/mix-manifest.json
/public/css/app.css
/public/css/capp.css
/public/js/app.js
/public/cp
/public/images
/public/light-gallery
/public/svg